<a href="https://colab.research.google.com/github/sherry-shlee/python-sandbox/blob/main/kdc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 사칙연산 결과 반환 우선순위: float -> int
print(3 / 2)    # 나누기 연산 - 결과: 1.5
print(3 // 2)   # 몫 연산 - 결과: 1
print(3 % 2)    # 나머지 연산 - 결과: 1
print(3 ** 2)   # 제곱 연산 - 결과: 9
print(pow(3,2)) # 제곱 연산 - 결과: 9

1.5
1
1
9
9

In [ ]:
# 사칙연산확장 및 형변환
print(3/2)                  # 소수형(float)으로 반환됨
print(int(3/2))             # 정수형(int)으로 반환됨
print(round(3.141592, 2))   # 결과: 3.14

1.5
1
3.14

In [ ]:
# 문자열연산
print("3"+"4")    # 결과: 34
print("Hello"*3)  # 결과: HelloHelloHello
print("안녕하세요 \'파이썬\'으로 개발하는 \"홍길동\" 입니다.")

name="홍길동"
age=20
print(f"안녕하세요 -이름:{name} -나이:{age}")  # f-string: python3.6부터 추가된 문법

s="\"   \t 안녕 하세요 !  \n  \""
print(s.strip())     # 결과: 안녕하세요!

s="1.2.3"
print(s.split("."))  # 결과: ["1", "2", "3"]

34
HelloHelloHello
안녕하세요 '파이썬'으로 개발하는 "홍길동" 입니다.
안녕하세요 -이름:홍길동 -나이:20
"   	 안녕 하세요 !
  "
['1', '2', '3']

In [ ]:
# 논리연산
print(not not True)   # 결과: True
print(not not False)  # 결과: False
mask = 3<2
print(not mask)      # 결과: True
print((3<2) & ("Hello"=="Hello")) # 결과: False
print(3<2 and "Hello"=="Hello")   # 결과: False
print((3<2) | ("Hello"=="Hello")) # 결과: True
print(3<2 or "Hello"=="Hello")    # 결과: True

True
False
True
False
False
True
True

In [ ]:
# 자료형 - 변수
print(type(3))       # 결과: <class 'int'>
print(type(3.0))     # 결과: <class 'float'>
print(type("True"))  # 결과: <class 'str'>
print(type(True))    # 결과: <class 'bool'>
dic={
  5: 25,
  2: 4
}
print(type(dic))     # 결과: <class 'dict'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'dict'>

In [ ]:
# 자료형 - 메서드
def myself():
	print("Hello World")
print(type(myself))  # 결과: <class 'function'>
print(type(print))   # 결과: <class 'builtin_function_or_method'>

<class 'function'>
<class 'builtin_function_or_method'>

In [ ]:
# 함수
# def myself(name, age, nationality="한국"): # optional param은 항상 마지막에
# def myself(name, age="20", nationality):   # SyntaxError 발생

In [ ]:
# 변수 Scope
x=2  # 전역변수(global variable)
def my_function():
	x=3      # 지역변수(local variable)
	print(x) # 지역변수 x를 취급함
my_function()  # 결과: 3
print(x)       # 결과: 2

3
2

In [ ]:
# 반복문
# while(계속반복조건):

In [ ]:
# 조건문
total = 70
if total >= 90: print("A")
elif total >= 80: print("B")  # elif특징: 80이상 90미만을 뜻함
else: print("F")

F

In [ ]:
# 리스트
nums=[]
nums.append(3)
nums.append(5)
print(len(nums))  # 결과: 2
del nums[0]
print(nums)  # 결과: [5]

nums=[2,3,5]
print(4 not in nums)  # 결과: true
nums.insert(2,4)
print(nums.index(4))  # 결과: 2
print(nums)                         # 결과: [2,3,4,5]
print(sorted(nums, reverse=True))   # 결과: [5,4,3,2]
nums.sort(reverse=True)
print(nums)                         # 결과: [5,4,3,2]
nums.remove(5)
print(nums)                         # 결과: [4,3,2]

2
[5]
True
2
[2, 3, 4, 5]
[5, 4, 3, 2]
[5, 4, 3, 2]
[4, 3, 2]

In [ ]:
# 리스트 반복문 - while문
arr=["첫번째", "두번째", "세번째"]
i=0  # 0부터 시작하는 습관
while(i<len(arr)):
  print(arr[i])
  i+=1

# 리스트 반복문 - for문
for num in arr:
  print(num)

첫번째
두번째
세번째
첫번째
두번째
세번째

In [ ]:
# 리스트 반복문 - for문
for i in range(1,10):
    for j in range(1,10):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# 리스트 - 활용
nums=[1,7,3,6,5,2,13,14]
i=0
while(i<len(nums)):
  if (nums[i]%2!=0): nums.pop(i)
  else: i+=1
print(nums)  # 실행1과 실행2는 같은 결과

nums=[1,7,3,6,5,2,13,14]
nums = [x for x in nums if x % 2 == 0]
print(nums)  # 실행1과 실행2는 같은 결과

[6, 2, 14]
[6, 2, 14]

In [ ]:
# 중첩리스트 - nested list
# 세 번의 시험을 보는 수업
grades = [[62, 75, 77], [78, 81, 86], [85, 91, 89]]
# 첫 번째 시험의 평균
print((grades[0][0] + grades[1][0] + grades[2][0]) / 3)

75.0

In [ ]:
# 범위리스트 - 장점: 메모리효율적
print(range(3))  # 결과: [0,1,2]
print(range(1,3))  # 결과: [1,2]
print(range(1,5,2))  # 결과: [1,3]

range(0, 3)
range(1, 3)
range(1, 5, 2)

In [ ]:
# 사전 - key는 모든 타입으로 정의 가능
# dic = {
#   key: value
# }
# print(dic[key])  # 결과: value
dic = {
    1: "첫번째",
    2: "두번째",
    3: "세번째"
}
print(dic.items())
for k, i in dic.items():
    print(f"key={k}, item={i}")
print(dic.keys())
# print(검색어 in dic.keys())  # 결과: true or false
print(dic.values())
# print(검색어 in dic.values())  # 결과: true or false

dict_items([(1, '첫번째'), (2, '두번째'), (3, '세번째')])
key=1, item=첫번째
key=2, item=두번째
key=3, item=세번째
dict_keys([1, 2, 3])
dict_values(['첫번째', '두번째', '세번째'])

In [ ]:
# 사전 - 활용
# 투표 결과 리스트
votes = ['김영자', '강승기', '최만수', '김영자', '강승기', '강승기', '최만수', '김영자', \
'최만수', '김영자', '최만수', '김영자', '김영자', '최만수', '최만수', '최만수', '강승기', \
'강승기', '김영자', '김영자', '최만수', '김영자', '김영자', '강승기', '김영자']
# 후보별 득표수 사전
vote_counter = {}
# 리스트 votes를 이용해서 사전 vote_counter를 정리하기
for name in votes:
    if name not in vote_counter:
        vote_counter[name] = 1
    else:
        vote_counter[name] += 1
print(vote_counter)

{'김영자': 11, '강승기': 6, '최만수': 8}

In [ ]:
import pandas as pd

eng_df1 = pd.DataFrame({
    'name': ['dongwook', 'taeho', 'jimin'],
    'score': [50, 89, 68]
})
eng_df2 = pd.DataFrame({
    'name': ['yoonsoo', 'sowon', 'haeun'],
    'english_score': [88, 91, 72]
})

pd.concat([eng_df1, eng_df2])  # index가 반복됨
eng_df = pd.concat([eng_df1, eng_df2], ignore_index=True)

math_df = pd.DataFrame({
    'name': ['dongwook', 'taeho', 'jimin', 'yoonsoo', 'sowon', 'haeun'],
    'math_score': [86, 31, 91, 75, 68, 80]
})
pd.concat([eng_df, math_df])  # 위아래로 합치기
df = pd.concat([eng_df, math_df], axis=1)  # 좌우로 합치기

# concat()으로는 DataFrame 병합 결과 이상함. merge()로 합치기 필요

In [36]:
# merge() = 컬럼명 기준으로 데이터 합치는 방법
import pandas as pd

employee_df = pd.read_csv('https://raw.githubusercontent.com/sherry-shlee/python-sandbox/main/kdc-dataset/employee.csv')
survey_df = pd.read_csv('https://raw.githubusercontent.com/sherry-shlee/python-sandbox/main/kdc-dataset/survey.csv')

pd.merge(employee_df, survey_df, on='id')  # inner join
pd.merge(employee_df, survey_df, on='id', how='left')  # left outer join
pd.merge(employee_df, survey_df, on='id', how='right')  # right outer join
pd.merge(employee_df, survey_df, on='id', how='outer', suffixes=['_employee', '_survey'])  # full outer join

survey_df = survey_df.rename(columns={'id': 'employee_id'})
company_df = pd.merge(employee_df, survey_df, left_on='id', right_on='employee_id')
company_df

,id,department_x,location,role,resign,employee_id,department_y,career,teamwork,reward,environment
0,101929,HR,China,Staff,Y,101929,HR,2,3,2,3
1,101625,Finance,US,Senior Director,N,101625,Finance,2,2,3,1
2,101318,IT,Japan,Senior Staff,N,101318,IT,2,3,5,5
3,100936,HR,Japan,Manager,Y,100936,HR,3,2,2,4
4,100125,HR,Korea,Senior Staff,N,100125,HR,3,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...
71,102031,IT,Colombia,Senior Manager,Y,102031,IT,1,3,3,1
72,100476,HR,Colombia,Senior Manager,Y,100476,HR,1,2,3,5
73,100226,HR,UK,Senior Manager,N,100226,HR,2,2,3,4
74,101331,IT,Korea,Manager,N,101331,IT,3,5,4,4
75,100233,Sales,Japan,Staff,N,100233,Sales,4,2,2,5

In [37]:
# merge() = 컬럼명 기준으로 데이터 합치는 방법
import pandas as pd

employee_df = pd.read_csv('https://raw.githubusercontent.com/sherry-shlee/python-sandbox/main/kdc-dataset/employee.csv')
survey_df = pd.read_csv('https://raw.githubusercontent.com/sherry-shlee/python-sandbox/main/kdc-dataset/survey.csv')

employee_df = employee_df.set_index('id')
survey_df = survey_df.set_index('id')
pd.merge(employee_df, survey_df, left_index=True, right_index=True)

,department_x,location,role,resign,department_y,career,teamwork,reward,environment
id,,,,,,,,,
101929,HR,China,Staff,Y,HR,2,3,2,3
101625,Finance,US,Senior Director,N,Finance,2,2,3,1
101318,IT,Japan,Senior Staff,N,IT,2,3,5,5
100936,HR,Japan,Manager,Y,HR,3,2,2,4
100125,HR,Korea,Senior Staff,N,HR,3,4,4,4
...,...,...,...,...,...,...,...,...,...
102031,IT,Colombia,Senior Manager,Y,IT,1,3,3,1
100476,HR,Colombia,Senior Manager,Y,HR,1,2,3,5
100226,HR,UK,Senior Manager,N,HR,2,2,3,4
101331,IT,Korea,Manager,N,IT,3,5,4,4
100233,Sales,Japan,Staff,N,Sales,4,2,2,5

In [32]:
# join() = 인덱스 기준으로 데이터 합치는 방법
import pandas as pd

employee_df = pd.read_csv('https://raw.githubusercontent.com/sherry-shlee/python-sandbox/main/kdc-dataset/employee.csv')
survey_df = pd.read_csv('https://raw.githubusercontent.com/sherry-shlee/python-sandbox/main/kdc-dataset/survey.csv')

# set_index() 전에 인덱스키를 on으로 알려줘서 join() 실행 가능
employee_df.join(survey_df, on='id', rsuffix='_y')

employee_df = employee_df.set_index('id')
survey_df = survey_df.rename(columns={'id': 'employee_id'})
survey_df = survey_df.set_index('employee_id')

# employee_df.join(survey_df)  # 오류 발생함
employee_df.join(survey_df, lsuffix='_x', rsuffix='_y')
employee_df.join(survey_df, rsuffix='_y')
company_df = employee_df.join(survey_df, rsuffix='_y', how='inner')
company_df

,department,location,role,resign,department_y,career,teamwork,reward,environment
101929,HR,China,Staff,Y,HR,2,3,2,3
101625,Finance,US,Senior Director,N,Finance,2,2,3,1
101318,IT,Japan,Senior Staff,N,IT,2,3,5,5
100936,HR,Japan,Manager,Y,HR,3,2,2,4
100125,HR,Korea,Senior Staff,N,HR,3,4,4,4
...,...,...,...,...,...,...,...,...,...
102031,IT,Colombia,Senior Manager,Y,IT,1,3,3,1
100476,HR,Colombia,Senior Manager,Y,HR,1,2,3,5
100226,HR,UK,Senior Manager,N,HR,2,2,3,4
101331,IT,Korea,Manager,N,IT,3,5,4,4
100233,Sales,Japan,Staff,N,Sales,4,2,2,5